.container{
    max-width: 100%;
    height: auto;
}

.col-lg-3{
    border:1px solid #e3e3e3;
}

.col-lg-3:hover{
    border:1px solid #000;
}

h1{
    font-family: Helvetica;
    font-weight: bold;
    width:12%;
    color:rgba(0,0,0,0.7);
}

h3{
    font-family: Helvetica;
    width: 100%;
    font-size:20px;
    color:rgba(0,0,0,0.7);
    padding-left:10px;
}

h5{
    font-family: Helvetica;
}

p{
    font-family:Courier New;
    font-size:12px;
}

a p{
  font-family:Courier New;
  text-decoration: underline;  
  font-size:12px;
}

.logo{
    width: 140px;
    height: 40px;
        position: absolute;

}
.logo-mobile{
    width: 140px;
    height: 40px;
}
.more{
    position:absolute;
    left:8%;
}
@media (min-width: 576px) { 

    h3{
        width: 100%;
        font-size:24px;
        margin-left:30px;
    }
     .more{
         position:absolute;
         left:9%;
     }


}

@media (min-width: 768px) {  

  h3{
        width: 100%;
        font-size:24px;
        margin-left:50px;
    }
     .more{
         position:absolute;
         left:4%;
     }
        .logo-mobile{
       position:relative;
       left:-8%;
    }

}

@media (min-width: 992px) {  
    .container{
         max-width: 100%;
     } 
      h3{
        width: 50%;
        font-size:24px;
         margin-left:0px;

    }
     .more{
         position:absolute;
         left:27%;
     }

}

@media (min-width: 1200px) { 
     .container{
         max-width: 100%;
     }
     .more{
         position:absolute;
         left:27%;
     }
}