<div class="container p-0 mt-xl-5 mt-lg-5" [BackDirective]="'white'" >
    <div class="main-row row mt-xl-5 mt-md-0 pl-md-0 mb-xl-5 mb-lg-5">
          <div class="col-12 mt-5 pl-5 d-inline d-sm-inline d-md-inline d-lg-none d-xl-none">
            <app-header-black></app-header-black>
          </div>
          <div class="col-lg-10 mx-auto col-xl-10 mt-xl-5 mt-lg-5 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
              <div class="row category-large mt-xl-5 mt-lg-5">
                      <div class="col-lg-4 col-xl-4 col-md-10 col-12 text-center mx-auto ">
                        <h5 class="pt-4 m-0 pb-0">PROSPECT.</h5>
                        <p class="pb-2">Find the best leads.</p>
                      </div>
                      <div class="col-lg-4 col-xl-4 col-md-10 col-12 text-center mx-auto ">
                        <h5 class="pt-4 m-0 pb-0">ACCOUNTS.</h5>
                        <p class="pb-2">New classic alignment.</p>
                      </div>
                      <div class="col-lg-4 col-xl-4 col-md-10 col-12 text-center mx-auto ">
                        <h5 class="pt-4 m-0 pb-0">LA/B.</h5>
                        <p class="pb-2">Undoubtedly Unique.</p>
                      </div>
                      <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12 col-12 text-center mx-auto">
                        <h5 class="pt-4 m-0 pb-0">STANDARD.</h5>
                        <p class="pb-2">Traditional contact info.</p>
                      </div>
                      <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12 col-12 text-center mx-auto">
                        <h5 class="pt-4 m-0 pb-0">STANDARD.</h5>
                        <p class="pb-2 pb-sm-2 pb-md-2">Traditional company info</p>
                      </div>
                      <div class="col-lg-4 col-xl-4 col-md-12  col-sm-12 col-12 text-center mx-auto">
                        <h5 class="pt-4 m-0 pb-0">ADDRESS.</h5>
                        <p class="pb-2">Market-centric values.</p>
                      </div>
                      <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12 col-12 text-center mx-auto">
                        <h5 class="pt-4 m-0 pb-0">MIND MAP.</h5>
                        <p class="pb-2">Discover influence level.</p>
                      </div>
                      <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12 col-12 text-center mx-auto">
                        <h5 class="pt-4 m-0 pb-0">FINANCIALS.</h5>
                        <p class="pb-2">Custom perfomance data.</p>
                      </div>
                      <div class="col-lg-4 col-xl-4 col-md-12  col-sm-12 col-12 text-center mx-auto">
                        <h5 class="pt-4 m-0 pb-0">ANNIVERSARY.</h5>
                        <p class="pb-2">Make it social.</p>
                      </div>
                      <div class="col-lg-4 col-xl-4 col-md-12  col-sm-12 col-12 text-center mx-auto">
                      <h5 class="pt-4 m-0 pb-0">TENURE.</h5>
                       <p class="pb-2">Experience goes a long way.</p>
                      </div>
                       <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12 col-12 text-center mx-auto">
                      <h5 class="pt-4 m-0 pb-0">CLASSIFY.</h5>
                      <p class="pb-2">Sort. Filter. Pivot.</p>
                      </div>
                      <div class="col-lg-4 col-xl-4 col-md-12  col-sm-12 col-12 text-center mx-auto">
                        <h5 class="pt-4 m-0 pb-0">MEDIA.</h5>
                        <p class="pb-2">Choose channels to follow.</p>
                      </div>
                </div>
          </div>
    <div class=" d-inline d-sm-inline d-md-inline d-lg-none d-xl-none col-lg-12  pr-md-0 col-xl-12 p-lg-5 m-lg-5 p-xl-5 m-xl-5">
            <div  class="row category">
              <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-6 text-center col-cat" style="border-right: 0px solid black !important;">
                <h5 class="pt-4 m-0 pb-0">PROSPECT.</h5>
                <p class="pb-2">Find the best leads.</p>
              </div>
              <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-6 text-center col-cat">
                <h5 class="pt-4 m-0 pb-0">ACCOUNTS.</h5>
                <p class="pb-2">New classic alignment.</p>
              </div>
            </div>
            <div class="row mobile-row">
              <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-6 text-center">
                <div class="row category">
                    <div class="col-lg-3 col-xl-3 col-md-12 col-sm-12 col-12 text-center">
                    <h5 class="pt-4 m-0 pb-0">STANDARD.</h5>
                    <p class="pb-2">Traditional contact info.</p>
                </div>
                <div class="col-lg-3 col-xl-3 col-md-12 col-sm-12 col-12 text-center">
                    <h5 class="pt-4 m-0 pb-0">MIND MAP.</h5>
                    <p class="pb-2">Discover influence level.</p>
                </div>
                <div class="col-lg-3 col-xl-3 col-md-12 col-sm-12 col-12 text-center fix">
                    <h5  class="pt-4 m-0 pb-0">TENURE.</h5>
                    <p class="pb-2 pb-sm-3 pb-md-2">Experience goes a long way.</p>
                </div>
              </div>
              </div>
              <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-6 text-center">
                <div class="row category">
                  <div class="col-lg-3 col-xl-3 col-md-12 col-sm-12 col-12 text-center">
                    <h5 class="pt-4 m-0 pb-0">STANDARD.</h5>
                    <p class="pb-2">Traditional company info.</p>
                  </div>
                  <div class="col-lg-3 col-xl-3 col-md-12 col-sm-12 col-12 text-center">
                    <h5 class="pt-4 m-0 pb-0">FINANCIALS.</h5>
                    <p class="pb-2">Custom perfomance data.</p>
                  </div>
                  <div class="col-lg-3 col-xl-3 col-md-12 col-sm-12 col-12 text-center">
                    <h5 class="pt-4 m-0 pb-0">CLASSIFY.</h5>
                    <p class="pb-2 pb-sm-3 pb-md-2">Sort. Filter. Pivot.</p>
                  </div>
                </div>
              </div>
            </div>
                        <div class="row category">
                          <div class="col-lg-3 col-xl-3 col-md-12  col-sm-12 col-12 text-center col-cat">
                            <h5 class="pt-4 m-0 pb-0">LA/B.</h5>
                            <p class="pb-2">Undoubtedly Unique.</p>
                          </div>
                          <div class="col-lg-3 col-xl-3 col-md-12  col-sm-12 col-12 text-center">
                            <h5 class="pt-4 m-0 pb-0">ADDRESS.</h5>
                            <p class="pb-2">Market-centric values.</p>
                          </div>
                          <div class="col-lg-3 col-xl-3 col-md-12  col-sm-12 col-12 text-center">
                            <h5 class="pt-4 m-0 pb-0">ANNIVERSARY</h5>
                            <p class="pb-2">Make it social.</p>
                          </div>
                          <div class="col-lg-3 col-xl-3 col-md-12  col-sm-12 col-12 text-center">
                            <h5 class="pt-4 m-0 pb-0">MEDIA.</h5>
                            <p class="pb-2">Choose channels to follow.</p>
                          </div>
                        </div>
    </div>
    
  </div>
  <div class="row mt-5 ml-lg-5 ml-xl-5 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">
    <img [routerLink]="['/home']" class="logo mt-5 ml-xl-5 ml-lg-5 mb-5 " src="../assets/img/logo-black.svg"
      alt="">
     </div>
      <app-footer class="d-inline d-sm-inline d-md-inline d-lg-none d-xl-none"></app-footer>
</div>
