<div class="container mt-5 p-0" [BackDirective]="'white'">
  <div class="row mt-5">
    <div class="col-6 mt-5 pr-5 mx-auto">
          <app-header-black></app-header-black>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-8 col-sm-8 col-md-6 col-lg-5  col-xl-4 mx-auto">
      <p>The market is ever changing, and so are we.</p>
      <p>No report is the same, and we take extra measures to experiment with new ideas
      / visuals to bring an authentic and versatile collection of insights. 
      Our signature style embodies evidence-based strategies
      that form a seamless collaboration for all units. </p><p>
      We aspire to be masters in what we do, learning and adapting with each
      report produced - to help build the best alliances of this generation.
      </p>
    </div>
  </div>
     
</div>

