<div class="row p-3 mt-5 foo">
  <div class="col-3 col-sm-3 col-md-3 col-lg-12 col-xl-12 text-center">
      <a class="nav-link active" [routerLink]="['/sap']">SAP</a>
  </div>
  <div class="col-3 col-sm-3 col-md-3 col-lg-12 col-xl-12 text-center">
      <a class="nav-link" [routerLink]="['/projects']">PROJECTS</a>
  </div>
  <div class="col-3 col-sm-3 col-md-3 col-lg-12 col-xl-12 text-center">
      <a class="nav-link" [routerLink]="['/db']">DB</a>
  </div>
  <div class="col-3 col-sm-3 col-md-3 col-lg-12 col-xl-12 text-center">
    <a class="nav-link" [routerLink]="['/eir']">EIR</a>
  </div>
</div>
<div class="row foo">
  <div class="col-3 col-sm-2 col-md-6 col-lg-12 col-xl-12 p-0 mx-auto text-center">
    <button class="sample " (click)="showLinks()">SAMPLE</button>
  </div>
</div>
<ul *ngIf="show === true" class="row pl-4 foo mb-0">
  <li class="nav-item mx-auto pr-3">
    <a class="nav-link" href="https://unmasterd.herokuapp.com/assets/eir-sample-request-unmasterd.pdf">EIR.pdf</a>
    <a class="nav-link" href="https://unmasterd.herokuapp.com/assets/db-sample-request-unmasterd.pdf">DB.pdf</a>
  </li>
</ul>
  <div class="row foo  pt-4 pb-5">     
    <div class="col-8 col-sm-6  col-md-6  col-lg-12 col-xl-12 my-auto mt-5 mx-auto">
      <form class="mx-auto" #contact="ngForm" (ngSubmit)="onSubmit(contact.value)">
        <div class="form-group" [ngClass]="{ 'has-danger': email.invalid && (email.dirty || email.touched), 'has-success': email.valid && (email.dirty ||
          email.touched)}">
          <input type="text" emailvalidator class="form-control text-center" required (ngModel)="this.email" name="email" placeholder="ENTER EMAIL"
            #email="ngModel">
        </div>
        <hr>
        <div class="form-group" [ngClass]="{ 'has-danger': textarea.errors?.minlength, 'has-success':textarea.valid}">
          <textarea placeholder="ENTER MESSAGE" #textarea="ngModel" class="form-control" required minlength="5" maxlength="1000" (ngModel)="this.message"
            rows="5" name="message">
          </textarea>
        </div>
        <button type="submit" [disabled]="!contact.form.valid" class="btn float-right">SUBMIT</button>
      </form>
    </div>
  </div>