a {
    color:white;
    font-family: Courier New;
    font-size:12px;
}

a:hover{
    text-decoration: line-through;
} 

input{
    font-family: Courier New;
    font-size:12px;
}
textarea{
    font-family: Courier New;
    font-size:12px;
}
button{
    font-family: Courier New;
    font-size:12px;
}

row-fix{
    height: 35%;
}

.sample{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:white;
    font-size:18px;
}