<div class="row mt-5">
  <ul class="nav flex-column mx-auto">
  <li class="nav-item">
    <a class="nav-link active"   [routerLink]="['/sap']">SAP</a>
  </li>
  <li class="nav-item pt-2">
    <a class="nav-link" [routerLink]="['/projects']">PROJECTS</a>
  </li>
  <li class="nav-item pt-2">
    <a class="nav-link" href="" style="color:white;"(click)="pdf()">SAMPLE</a>
  </li>
  <li class="nav-item pt-2">
    <a class="nav-link" [routerLink]="['/contact']">CONTACT</a>
  </li>
</ul>
<P>{{this.errors}}</P>
<P>{{this.data}}</P>

</div>
