.row-fix{
    height: 425px;
}

.logo{
    width: 150px;
    height: 40px;
}

.logo-mobile{
    width: 140px;
    height: 40px;    
}

h1 {
  font-family:Helvetica;
  font-weight: bold;
  color: #333;
}

.accordion {
  width: 100%;
  max-width: 100%;
  height: 50%;;
  overflow: hidden;
}

.accordion ul {
  width: 700px;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16%;
  height: 700px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}
.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
  padding-bottom: 80px;
}
.accordion ul li div a {
  display: block;
  height: 5%;
  width: 50%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 0px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}
.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.accordion ul li div a h2 {
  font-family: Montserrat, sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.accordion ul li div a p {
  font-size: 13.5px;
}
.accordion ul li:nth-child(1) {
  background-image: url('../../../assets/img/slide-1.png');
}
.accordion ul li:nth-child(2) {
  background-image: url('../../../assets/img/slide-2.png');
}
.accordion ul li:nth-child(3) {
  background-image: url('../../../assets/img/slide-3.png');
}
.accordion ul li:nth-child(4) {
  background-image: url('../../../assets/img/slide-4.png');
}

.accordion ul:hover li {
  width: 2%;
}
.accordion ul:hover li:hover {
  width: 100%;
}
.accordion ul:hover li:hover a {
  background: rgba(0, 0, 0, 0.4);
}
.accordion ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  .accordion {
    height: auto;
  }
  .accordion ul li, .accordion ul:hover li, .accordion ul li:hover, .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
}
    .col-logo{margin:0 auto;}

@media (min-width: 576px) { 
  .container{
     max-width: 100%;
  }
  body{overflow:hidden}
}

@media (min-width: 768px) {  
   .container{
    max-width: 100%;
  }  
  .accordion {
    max-width: 700px;
    max-height: 700px;
  }
}

@media (min-width: 992px) {  
  .container{
    max-width: 100%;
  }  
  .accordion {
    max-width: 700px;
    max-height: 700px;

  }
}

@media (min-width: 1200px) { 
  .accordion {
    max-width: 700px;
    max-height: 700px;

  }

  .container{
    max-height: 100%;
    max-width: 80%;
    margin:0 auto;
  }  
}