<div class="container-fluid" *ngIf="show === true" [BackDirective]="'black'">
    <div class="row row-1">
        <div class="col-6" [ngClass]="{'hoverImg1': showImg1}"></div>
        <div class="col-6" [ngClass]="{'hoverImg2': showImg2}"></div>
    </div>
    <div class="row position-absolute row-2">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 sides">
               <div  class="container mt-5 text-right">
                <h1 class="h-eir">EIR</h1>
                <a [routerLink]="['/eir']">
                <img class="imgThumb  float-right mt-4"  (mouseenter) ="showImg1 = true" (mouseleave) ="showImg1 = false" src="../assets/img/EIR.png" alt="">
                </a> 
            </div>
        </div>
        <div class="col-4">
            <app-header></app-header>
            <br class="mt-5">
            <app-navbar></app-navbar>
        </div>
         <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 sides">
            <div class="container mt-5 text-left">
                <h1 class="h-db">DB</h1>
                <a [routerLink]="['/db']">
                <img class="imgThumb  float-left mt-4"  (mouseenter) ="showImg2 = true" (mouseleave) ="showImg2 = false" src="../assets/img/DB.png" alt="">
                </a>
            </div>
         </div>
    </div>
</div>
<div class="container"  *ngIf="show === false" [BackDirective]="'black'">
    <div class="row mb-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 my-auto mx-auto ">
                <div class="row mt-5 ml-2">
                    <img class="logo float left" src="../assets/img/logo-white.svg" alt="">
                </div>
            <br class="mt-5">
            <div class="row row-nav">
                <ul class="nav flex-column float-left w-100">
                    <li class="nav-item p-4">
                        <a class="nav-link active" [routerLink]="['/sap']">SAP</a>
                    </li>
                    <li class="nav-item p-4">
                        <a class="nav-link" [routerLink]="['/db']">DB</a>
                    </li>
                    <li class="nav-item p-4">
                        <a class="nav-link" [routerLink]="['/eir']">EIR</a>
                    </li>
                    <li class="nav-item p-4">
                        <a class="nav-link" [routerLink]="['/projects']">PROJECTS</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-sm-3 col-md-6 col-lg-12 col-xl-12 p-0 mx-auto text-center">
            <button class="sample " (click)="showLinks()">SAMPLE</button>
        </div>
    </div>
    <ul *ngIf="showLink === true" class="row mr-4 row-link">
        <li class="nav-item mx-auto">
            <a class="nav-link sample1"  (click)="pdfEIR()">EIR.pdf</a>
            <a class="nav-link sample1" (click)="pdfDB()">DB.pdf</a>
        </li>
    </ul>
    <div class="row mt-4 mb-5">
        <div class="col-8 col-sm-6  col-md-6  col-lg-12 col-xl-12 my-auto mt-5 mx-auto">
            <form class="mx-auto" #contact="ngForm" (ngSubmit)="onSubmit(contact.value)">
                <div class="form-group" [ngClass]="{ 'has-danger': email.invalid && (email.dirty || email.touched), 'has-success': email.valid && (email.dirty ||
            email.touched)}">
                    <input type="text" emailvalidator class="form-control text-center" required (ngModel)="this.email" name="email" placeholder="ENTER EMAIL"
                        #email="ngModel">
                </div>
                <hr>
                <div class="form-group" [ngClass]="{ 'has-danger': textarea.errors?.minlength, 'has-success':textarea.valid}">
                    <textarea placeholder="ENTER MESSAGE" #textarea="ngModel" class="form-control" required minlength="5" maxlength="1000" (ngModel)="this.message"
                        rows="5" name="message">
            </textarea>
                </div>
                <button type="submit" [disabled]="!contact.form.valid" class="btn float-right">SUBMIT</button>
            </form>
        </div>
    </div>
</div>