.row-fix{
    height: 400px;
}

img{
    width: 350px;
    height: 250px;
}

img .fill{
    color:#e3e3e3;
}

.text{
    font-family: Helvetica;
    font-size:12px;
    margin-bottom: 5px;
}

.price{
    font-family: Courier New;
    font-size:14px;
}

div.show {
    display: inline-block;
    padding: 0;
    position:relative;
	
}

div.show img {
    margin:0 auto;
    display: block;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

div.show:hover img {
    opacity: 0;           
}
div.show span{
    visibility:hidden; 
    font-size:16px;
      position: absolute;
      top: 55%;
      left: 51%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      line-height: 100%;
}

div.show:hover span{
    color:#000; visibility:visible;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

@media (min-width: 576px) { 
    div.show img{
        margin:0 auto;
    }
    div.show span{
    visibility:hidden; 
    font-size:16px;
      position: absolute;
      top: 55%;
      left: 52%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      line-height: 100%;
    } 
}

@media (min-width: 768px) {
        div.show img{
        margin:0 auto;
    }  
    div.show span{
    visibility:hidden; 
    font-size:16px;
      position: absolute;
      top: 55%;
      left: 55%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      line-height: 100%;
    }  
}

@media (min-width: 992px) {  
    div.show span{
    visibility:hidden; 
    font-size:16px;
      position: absolute;
      top: 55%;
      left: 60%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      line-height: 100%;
    } 
}

@media (min-width: 1200px) { 
    div.show span{
    visibility:hidden; 
    font-size:16px;
      position: absolute;
      top: 55%;
      left: 52%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      line-height: 100%;
    } 
}