.email{
    width: 250px;
}

form{
        display:inline-block;
}

.form-control{
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
}

.form-group{
    width: 250px;
    margin:0px;
}

button{
    font-family: Arial;
    color:black;
}